.subcontainer_input_PaymentCode{
  background-color: #e0aa00;
}
.subcontainer_input_MoneyInput{
  background-color:#f6f4f4;
}

#payment-info {
  text-align: center;
}

#payment-info input {
  border: none;
  background: transparent;
}

#payment-info input:focus {
  outline: 0;
  border-bottom: 2px solid grey;
}