* {
  font-family: 'Montserrat', sans-serif;
}

/* Helpers */
.text-white {
  color: #fff;
}

/* End Helpers */

/* Tabs */
.nav-tabs {
  border-bottom: 1px solid rgba(224, 170, 0, 0.48);
}

.nav-tabs .nav-link {
  color: #5A5854;
}

.nav-tabs .nav-link:hover {
  border-color: rgba(224, 170, 0, 0.48) rgba(224, 170, 0, 0.48) transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #e0aa00;
  border-color: rgba(224, 170, 0, 0.48) rgba(224, 170, 0, 0.48) #fff;
  font-weight: 700;
}

/* Tab Content */

.tab-pane {
  color: #5A5854;
}

.subcontainer_input_PaymentCode{
  background-color: #e0aa00;
  color: #fff;
  
}
.subcontainer_input_MoneyInput{
  background-color:#f6f4f4;
  height: 17vh;

  
  color: #211916;
}

#payment-info {
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
}

#payment-info input {
  border: none;
  background: transparent;
}

#payment-info input:focus {
  outline: 0;
  border-bottom: 2px solid #fff;
}

.container_clock{

  background-color: hsl(67, 86%, 80%);
  height: 17vh;
}
.clock{
  width: 3.5vh;

}
/*footer*/


/* .logoFooter{

  margin-top: -3vh;
}   */

/* .print {
  margin-top: 3vh;
}
.mail{
  margin-top: 3vh;
} */
 /* 
containerPrint{
  width: 200px;
  height: 200px;
  border: 1px solid #e0aa00;
}

